<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="ejs.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
    <script src="cordova.js"></script>
    <script>
    </script>
    <style>
        .toolbaricon {
            padding-left: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            color: orange;
        }
    </style>
</head>


<body onload="">
    <ons-page>
        <div style="text-align: center; margin-top: 30px;">
            <p>
                <ons-input id="username" modifier="underbar" placeholder="Username" float></ons-input>
            </p>
            <p>
                <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
                <ons-button id="login">Sign in</ons-button>
            </p>
            <p style="margin-top: 30px;">
                    <ons-button id="google">google</ons-button>
               </p>
            <p style="margin-top: 30px;">
                    <ons-button id="facebook">facebook</ons-button>
              </p>
            <p>
                <a href="register.html">sign uo for a new user</a>
            </p>
        </div>
    </ons-page>
    <script src="../js/login.js"></script>
</body>

</html>